<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag movie.image %>
          <%= link_to "#{movie.title}", movie_path(movie) %>
      </div>
    </div>
  <% end %>
</div>
