<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to movie_path(movie) do %>
          <%= image_tag movie.image if movie.image.present? %>
        <% end %>
        </div>
    </div>
  <% end %>
</div>
